body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #222;
  color: #fff;
  padding: 30px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 10px auto;
  max-width: 800px;
  background: #fff;
  border-radius: 5px;
}

h2 {
  color: #444;
}

footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: #fff;
}
